
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Tahoma;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none;
}


body{
  background: white;
  overflow: auto;
  scroll-behavior: auto;
  margin:0;
  padding:0;

}

h1{
  background-color:#16A34A ;
}